<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<!--
  <body>
    <h1>Tweeter</h1>
    <div>{{data}}</div>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div>

  <p><a href="another">Go to the other page</a></p>

  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form>

  </body>
-->
  <body>
  - - - - - - - - - - - - VIEW YOUR TWEETS - - - - - - - - - - - -
    <br/>
    <form method="GET" action="/your_tweets">
      <p>Enter your handle: <input type="text" name="handle"> <input type="submit" value="Enter"></p>
    </form>
  - - - - - - - - - - - - VIEW TWEETS OF PEOPLE YOU FOLLOW - - - - - - - - - - - -
    <br/>
      <form method="GET" action="/display">
        <p>Enter your handle: <input type="text" name="handle"> <input type="submit" value="Enter"></p>
      </form>
  - - - - - - - - - - - - CREATE A TWEET - - - - - - - - - - - -
    <br/>
    <form method="GET" action="/create">
      <p>Enter your handle: <input type="text" name="handle"></p>
      <p>Enter text: <input type="text" name="text"></p>
      <p>Enter media: <input type="text" name="media"></p>
      <p><input type="submit" value="Enter"></p>
    </form>
  </body>

</html>
